/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    display: flex;
    gap: 20px;
    padding: 0px;
  }
  
  .gallery {
    flex: 2;
  }
  
  .info {
    flex: 1;
    background: #fff;
    padding-left: 20px;
    border-radius: 6px;
  }
  
  .info h2 {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .info .attr {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 14pt;
  }
  .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  .description {
    margin-top: 40px;
  }
  .see-more {
    margin-top: 40px;
  }
  .see-more h3 {
    margin-bottom: 20px;
  }
  .pet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .pet-card {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
  }


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides img {
  width: 100%;
  height: 400px; /* Hoặc chiều cao cố định bạn muốn */
  object-fit: cover; /* Đảm bảo ảnh không bị méo và phủ đầy khung */
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */
/* 
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */