<form action="/service/create-booking" method="POST">
  <input type="hidden" name="customerId" value="{{customerId}}">
  <input type="hidden" name="bookedServiceIds" value="{{bookedServiceIds}}">
  <button onclick="handleClick()" type="submit" class="tw-bg-[#F3EC1C] tw-rounded-md tw-font-bold tw-text-center tw-border-0 tw-w-full tw-p-3">Book Now</button>
</form>
