<form action="/service/cancel-booking" method="POST">
  <input type="hidden" name="customerId" value="{{customerId}}">
  <input type="hidden" name="bookedServiceIds" value="{{bookedServiceIds}}">
    <button class=" tw-rounded-md tw-text-center tw-border-1 tw-p-2 tw-bg-white hover:tw-bg-gray-400 hover:tw-text-white">
    Cancel Booking
    </button>
</form>
