

<button onclick="handleRejectClick(event)" class=" tw-w-[125px] tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-text-white tw-bg-red-400 hover:tw-bg-gray-400 hover:tw-text-white">
Reject
</button>
<div
    id="rejectSuccessModal"
    class="popupModel tw-fixed tw-inset-0  tw-bg-black/50 tw-items-center tw-flex tw-justify-center 
    {{#if showSuccessModal}}tw-block{{else}}
    tw-hidden
    {{/if}} tw-z-[500]"
    role="dialog"
    aria-modal="true"
    aria-hidden="true"
    >
    <div id="mainContent" class="tw-bg-white  tw-shadow-xl tw-p-6 tw-w-[100%] tw-max-w-lg tw-h-[40%]">
        <h2 class="tw-text-lg tw-font-semibold tw-mb-4">Your complete</h2>
        <p class="tw-mb-4">You complete this service?</p>
        <hr class=" tw-bg-black tw-mb-10">
        <div class="tw-mb-5 tw-flex tw-justify-center tw-gap-2">    
        <button
            class="tw-stroke-1 tw-px-4 tw-py-2 hover:tw-bg-gray-400"
            onclick="closeModal()"
        >
            Cancel
        </button>
        </button>
       <form action="/owner/manageService/reject-booking" method="POST">
          <input type="hidden" name="bookedServiceIds" value="{{bookedServiceIds}}">
            <button class=" tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-text-white tw-bg-red-400 hover:tw-bg-gray-400 hover:tw-text-white">
            Reject Booking
            </button>
        </form>
        </div>
    </div>
</div>
