<form action="/service/review" method="POST">
  <input type="hidden" name="bookedServiceIds" value="{{bookedServiceIds}}">
    <button class=" tw-rounded-md tw-text-center tw-border-0 tw-p-2 tw-text-white tw-bg-red-400 hover:tw-bg-gray-400 hover:tw-text-white">
    Review
    </button>
</form>
