{{#section "css"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link href="/css/swiper.css" rel="stylesheet">
{{/section}}
<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#" class="tw-w-full tw-h-full block tw-relative">
        <img src="https://spas.ie/blog/wp-content/uploads/2024/10/dog-spa-ireland.jpg" style="opacity: 0.5;" alt="Dog Service">
        <div class="tw-absolute tw-m-[20%] tw-inset-0 tw-flex  tw-flex-col tw-items-center tw-justify-left  tw-text-2xl">
        <h2 class="tw-text-[#F3EC1C]" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">OUR DOG SERVICE</h2>
        <p class="tw-text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">We provide professional and loving care for your dog, from grooming and bathing to relaxation, in a safe and friendly environment.</p>
        </div>
        </a>
        
      </div>
      <div class="swiper-slide">
        <a href="#" class="tw-w-full tw-h-full block tw-relative">
        <img src="https://www.fourpaws.com/-/media/Project/OneWeb/FourPaws/Images/articles/cat-corner/cat-care-101/happy-grey-cat-cropped.jpg" alt="Cat Care">
        <div class="tw-absolute tw-m-[20%] tw-inset-0 tw-flex  tw-flex-col tw-items-center tw-justify-left  tw-text-2xl">
        <h2 class="tw-text-[#F3EC1C]" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">OUR CAT SERVICE</h2>
        <p class="tw-text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
          We offer gentle and specialized care for your cat, including grooming, bathing, and stress-free pampering, all in a calm and cozy environment tailored to feline comfort.</p>
        </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/pet/donate" class="tw-w-full tw-h-full block tw-relative">
        <img src="https://www.dogsforgood.org/wp-content/uploads/2020/10/good-advice-puppy-toy.jpg"  alt="Rescue Dog">
        <div class="tw-absolute tw-m-[20%] tw-inset-0 tw-flex  tw-flex-col tw-items-center tw-justify-left  tw-text-2xl">
        <h2 class="tw-text-[#F3EC1C]" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);"> PET REHOMING</h2>
        <p class="tw-text-white" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);">
          We accept both owned and rescued pets, as long as they meet our basic health and behavior requirements. 
          Our goal is to help each animal find a safe, loving forever home.
        </p>
        </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/pet/byCat" class="tw-w-full tw-h-full block tw-relative">
        <img src="https://d1hjkbq40fs2x4.cloudfront.net/2016-07-16/files/cat-sample_1313.jpg" alt="Rescue Cat">
        <div class="tw-absolute tw-m-[20%] tw-inset-0 tw-flex  tw-flex-col tw-items-center tw-justify-left  tw-text-2xl">
        <h2 class="tw-text-[#F3EC1C]" style="text-shadow: 2px 2px 4px rgb(0, 0, 0);"> ADOPT OUR PET</h2>
        <p class="tw-text-white" style="text-shadow: 2px 2px 4px rgb(0, 0, 0);">
          Give a pet a second chance by adopting! We have many loving animals 
          ready to find their forever home. Whether you're looking for a dog,
           cat, or other companion, we ensure all our pets are healthy,
           well-socialized, and ready to be part of your family.
        </p>
        </div>
        </a>
      </div>
      <div id="aboutUs" class="swiper-slide"  style="background-image: linear-gradient(to bottom, #FF94BD, #F3EC1C);">
        <div class="tw-flex tw-flex-row tw-justify-center tw-px-10 tw-gap-2">
          <img class="tw-w-[350px] tw-h-[350px]" src="/static/imgs/logo.jpg" alt="About us">
          <div class="tw-flex tw-flex-col tw-justify-center tw-text-center tw-text-white">
            <h1>Pet Land</h1>
            <b class="tw-text-[#F3EC1C]">Contact Us: petland@gmail.com </b> <br>
        
            At Petland, we’re more than just a pet service — we’re a sanctuary for furry friends. 
            From professional grooming, bathing, spa, and health care for your beloved dogs and cats
            to a loving home for rescued animals, we are committed to giving every pet the care 
            and love they deserve. Whether you're looking to pamper your companion or give 
            a second chance to a rescue pet, Petland is here to help — with heart, safety, 
            and compassion.
      
          </div>

        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    </div>
    
{{#section "js"}}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    var swiper = new Swiper(".mySwiper", {
      direction: "vertical",
      slidesPerView: 1,
      spaceBetween: 0,
      mousewheel: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    });
    </script>
  {{/section}}
</body>

</html>