<div class="maincontent tw-w-[80%] tw-mx-auto tw-px-[5%] tw-pt-[70px] tw-flex tw-flex-col tw-items-center tw-justify-start">
    <h3 class="tw-mt-2">Announcement</h3>
    <div class="card tw-border-black tw-w-full">
        <div class="card-header tw-bg-[#faf0cb] tw-border-black">
            <h4>{{formatDate notifications.createAt}}</h4>
        </div>
         <div class="card-body tw-flex tw-flex-row tw-gap-2">
            <p>{{notifications.content}}</p>      
        </div>
    </div>
</div>