{{#section "signupcss"}}
    <link rel="stylesheet" href="/static/css/cssUser/register.css">
{{/section}}
{{#section "signupjs"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js">
</script>
<script>

    function checkValidEmail() {
        const email = document.querySelector('#txtEmail').value;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Định dạng cơ bản cho email
        if (email.length === 0 || !emailRegex.test(email)) {
            document.querySelector('#txtEmail').select();
            return false; 
        }
        return true; 
    }
    function checkValidPassword(){
       
        const password = document.querySelector('#txtPassword').value;

        const minLength = 8;
        const hasUpper = /[A-Z]/.test(password);
        const hasLower = /[a-z]/.test(password);
        const hasNumber = /[0-9]/.test(password);
        const hasSpecialChar = /[!@#\$%\^\&*\)\(+=._-]/.test(password);

        if (password.length < minLength) {
            Swal.fire({
                title: 'Warning',
                text: "Password must be at least 8 characters long.",
                icon: 'warning',
                confirmButtonText: 'OK'
            });
            document.querySelector('#txtPassword').select();
            return false;
        }

        if (!hasUpper || !hasLower || !hasNumber || !hasSpecialChar) {
            Swal.fire({
                title: 'Warning',
                text: "Password must include uppercase, lowercase, number, and special character.",
                icon: 'warning',
                confirmButtonText: 'OK'
            });
            document.querySelector('#txtPassword').select();
            return false;
        }

        return true;
    }
    $('#fmSignup').on('submit', function (e) {
        e.preventDefault();
        const username = $('#txtUsername').val();
        const dob = $('#txtDOB').val(); // Lấy giá trị ngày sinh
        const password = $('#txtPassword').val();
        const confirmPassword = $('#txtConfirmPassword').val();

        if(!checkValidPassword()){
            return;
        }
        if (password !== confirmPassword) {
            Swal.fire({
                title: 'Error',
                text: "Passwords do not match. Please re-enter.",
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }
        
        // Kiểm tra tên người dùng
        if (username.length === 0) {
            Swal.fire({
                title: 'Warning',
                text: "Username cannot be empty. Please provide a valid username.",
                icon: 'warning',
                confirmButtonText: 'OK'
            });
            return;
        }

        if (!checkValidEmail()) {
            Swal.fire({
                title: 'Error',
                text: "Invalid email format. Please provide a valid email.",
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }
        
        // Kiểm tra username khả dụng qua AJAX
        $.getJSON(`/user/is-available?username=${username}`, function (data) {
            if (data === false) {
                // Username không khả dụng
                Swal.fire({
                    title: 'Warning',
                    text: "Your username is not available. Please choose another one.",
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });

            } else {
                Swal.fire({
                    title: 'Success!',
                    text: "Check your EMAIL!",
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $('#fmSignup').off('submit').submit();
                    }
                });
            }

        }).fail(function () {
            // Xử lý lỗi kết nối hoặc lỗi server
            Swal.fire({
                title: 'Error',
                text: "Unable to verify username. Please try again later.",
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    });
</script>
{{/section}}
<div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form id="fmSignup" action="/user/register" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details" for="txtFullname">Full Name</span>
            <input type="text" id="txtFullname" name="fullname" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details" for="txtUsername">Username</span>
            <input type="text" id="txtUsername" name="username" placeholder="Enter your username" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details" for="txtEmail">Email</span>
            <input type="text" id="txtEmail" name="email" placeholder="Enter your email" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details" for="txtPhone">Phone Number</span>
            <input type="text" id="txtPhone" name="phone" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details" for="txtPassword">Password</span>
            <input type="password" name="raw_password" id="txtPassword" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details" for="txtPassword" >Confirm Password</span>
            <input type="password" id="txtConfirmPassword" name="confirm_password" placeholder="Confirm your password" required>
          </div>
        </div>
        <div class="gender-details">
          <!-- Radio buttons for gender selection -->
          <input type="radio" name="gender" id="dot-1" value="Male">
          <input type="radio" name="gender" id="dot-2" value="Female">
          <input type="radio" name="gender" id="dot-3" value="none">
          <span class="gender-title">Gender</span>
          <div class="category">
            <!-- Label for Male -->
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <!-- Label for Female -->
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <!-- Label for Prefer not to say -->
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Register">
        </div>
        <div class="d-flex justify-content-center align-items-center gap-10">
            <label>Already have an account?</label>
            <label><a href="/user/login" class="link-underline-dark link-pw"> Log in</a></label>
        </div>
      </form>
    </div>
  </div>