.dropdown-item {
    width: 100px;
    font-size: 12pt !important;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.2); /* Nền mờ, với độ trong suốt nhẹ */
    color: #333333;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 255); /* Nền đậm hơn khi hover */
    color: #000000; /* Màu chữ đậm hơn khi hover */
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ khi hover */
}


.dropdown-toggle {
    background: transparent !important; 
    border: none !important; 
    box-shadow: none !important; 
    padding: 0 !important;
    color: inherit !important; 
    font-size: inherit !important;
}

.dropdown-menu {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
